.banner-text-gradient{
    font-size: 72px;
    background: -webkit-linear-gradient(#9845E8 20%, #33D2FF 55%, #DD5789 100%);
    // background: linear-gradient(to right #9845E8 0%, #33D2FF 55%, #DD5789 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.object-fit-cover{
    object-fit: cover;
}

.project-card{
    &--top-img{
        width: 100%;
        height: 20rem;
        @media only screen and (min-device-width: 768px){
            height: 12rem;
        }

    }
}

// project cards top images
.project-card-1{
    background-image: url('./images/projects/Sugar-Cream.png');
}
.project-card-2{
    background-image: url('./images/projects/rectangles.png');
}
.project-card-3{
    background-image: url('./images/projects/Earth.png');
}
.project-card-4{
    background-image: url('./images/projects/Sweet-Rain.png');
}
.project-card-5{
    background-image: url('./images/projects/Cold-Breeze.png');
}
.project-card-6{
    background-image: url('./images/projects/Ice-Cream.png');
}
.project-card-7{
    background-image: url('./images/projects/Red-Sun.png');
}

.social-icon-text{
    font-size: 0.95rem !important;
}
.theme-switch-btn{
    height: 2rem !important;
}